*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    min-height: 100vh;
    background-image: url(image/Art.png);
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-draw{
    font-size: 15rem;
    fill: none;
    stroke: cyan;
    stroke-width: 2.5;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 10s linear  infinite;
    font-weight: 600;
    box-shadow: 0 0 10px cyan,0 0 50px cyan;


}
.des{
    text-align: center;
    letter-spacing: 1rem;
    fill: white;
    font-size: 2.5rem;
    font-family:Arial, Helvetica, sans-serif;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


@keyframes draw {
    to{
        stroke-dashoffset: 0;
           
    }
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a{
    position: relative;
    text-decoration: none;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    background-color:black;
    font-size: 2.5rem;
   font-weight: 500;
   transition: .5s;
   overflow: hidden;


   
}
a:hover{
    background-color:cyan;
    color: black;
    box-shadow: 0 0 5px cyan,0 0 10px cyan,0 0 20px cyan,0 0 50px cyan,0 0 100px cyan,0 0 150px cyan;
    -webkit-box-reflect: below 1px linear-gradient(transparent,black);
}

span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg,transparent, cyan);
    animation: animate 1s infinite;
}
@keyframes animate{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg,transparent, cyan);
    animation: animate2 1s infinite;
    animation-delay: .25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg,transparent, cyan);
    animation: animate3 1s infinite;
    animation-delay: .5s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
}
a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg,transparent, cyan);
    animation: animate4 1s infinite;
    animation-delay: .75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 100%;
    }
}

.bganimate{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    filter: saturate(2);
    overflow: hidden;

    
}
.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
}
.colorBox:hover{
    background: cyan;
    transition-duration: 0s;
}



@media(max-width:1500px){
    .text-draw{
        font-size: 12.5rem;
    }
    .des{
      
        font-size: 2rem;
        
    }
    a{
        padding: 20px 25px;
        font-size: 2rem;
    }

}
@media(max-width:1280px){
  
    .text-draw{
        font-size: 10rem;
    }
    .des{
      
        font-size: 2rem;
        
    }
    a{
        padding: 20px 25px;
        font-size: 2rem;
    }

}

@media(max-width:1024px){
 
    .text-draw{
        font-size: 8rem;
    }
    .des{ 
        font-size: 1.5rem;
    }
    a{
        padding: 20px 25px;
        font-size: 2rem;
       
    }
}
@media(max-width:820px){
 
    .text-draw{
        font-size: 7rem;
    }
    .des{
        font-size: 1rem;
        letter-spacing: 1rem;
    }
    a{
        padding: 20px 25px;
        font-size: 1rem;
    }
    .logo{
        color: white;
    }
   
}
@media(max-width:630px){
 
    .text-draw{
        font-size: 5rem;
    }
    .des{
        font-size: .90rem;
        letter-spacing: .5rem;
    }
    a{
        padding: 20px 25px;
        font-size: 1rem;
        color: white;
    }

 
}
@media(max-width:600px){
 
    .text-draw{
        font-size: 5rem;
    }
    .des{
        font-size: .95rem;
        letter-spacing: .5rem;
    }
    a{
        padding: 20px 25px;
        font-size: 1rem;
    }

}
@media(max-width:579px){
 
    .text-draw{
        font-size: 4rem;
    }
    .des{
        font-size: .85rem;
        letter-spacing: .5rem;
    }
    a{
        padding: 20px 25px;
        font-size: 1rem;
    }

}
@media(max-width:420px){
 
    .text-draw{
        font-size: 3.2rem;
    }
    .des{
        font-size: .60rem;
        letter-spacing: .5rem;
    }
    a{
        padding: 20px 25px;
        font-size: 1rem;
    }

}
@media(max-width:412px){
 
    .text-draw{
        font-size: 3rem;
    }
    .des{
        font-size: .55rem;
        letter-spacing: .5rem;
    }
    a{
        padding: 20px 25px;
        font-size: 1rem;
    }

}
@media(max-width:375px){
 
    .text-draw{
        font-size: 2.7rem;
    }
    .des{
        font-size: .50rem;
        letter-spacing: .5rem;
    }
    a{
        padding: 20px 25px;
        font-size: 1rem;
    }



}
@media(max-width:360px){
 
    .text-draw{
        font-size: 2.5rem;
    }
    .des{
        font-size: .57rem;
        letter-spacing: .4rem;
    }
    a{
        padding: 20px 25px;
        font-size: 1rem;
    }



}
@media(max-width:349px){
 
    .text-draw{
        font-size: 2.6rem;
    }
    .des{
        font-size: .55rem;
        letter-spacing: .3rem;
    }
    a{
        padding: 20px 25px;
        font-size: 1rem;
    }

}
@media(max-width:316px){
 
    .text-draw{
        font-size: 2.5rem;
    }
    .des{
        font-size: .50rem;
        letter-spacing: .3rem;
    }
    a{
        padding: 20px 25px;
        font-size: 1rem;
    }
 

}
